[Desktop Entry]
Version=1.0
Type=Application
Name=Mousepad
Comment=Simple Text Editor
Exec=mousepad %U
Icon=org.xfce.mousepad
Path=
Terminal=false
StartupNotify=true
